<!-- /.row -->
<div>
    <div ng-repeat="todo in todos">
        <!-- Project One -->
        <div  class="row">
            <div class="col-md-7">
                <a href="">
                    <img class="img-responsive z-depth-1 hoverable hidden-sm hidden-xs" src="http://lorempixel.com/400/200/" alt="">
                </a>

            </div>
            <div class="col-md-5" style="padding-top: 1em" id="videomaker">
                <h3><i class="fa fa-star "></i> {{todo.title}}</h3>
                <p>{{todo.description| limitTo:200}}...</p>
                <a href="#/detail/{{todo.id}}">
                    <button type="button" class="btn btn-info waves-effect waves-light">More...</button>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>

</div>

<script type="text/ng-template" id="addToDoModal">
            <div class="modal-header">
            <button type="button" class="close" ng-click="cancel();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add a To Do</h4>
            </div>
            <div class="modal-body">
            <form name="todoForm" novalidate>
            <br/>
            <div class="row">
            <div class="col-md-5">
            <div class="form-group">
            <label for="name" class="control-label">Name: </label>
            <input id="name" class="form-control" type="text" ng-model="todo.title" required/>
            </div>
            </div>
            </div>
            <br/>
            <div class="row">
            <div class="col-md-5">
            <div class="form-group">
            <label for="director" class="control-label">Description </label>
            <input id="director" class="form-control" type="text" ng-model="todo.description" required/>
            </div>
            </div>
            </div>
            <br/>
            <div class="row">
            <div class="col-md-5">
            <div class="form-group">
            <label for="releaseDate" class="control-label">Due Date: </label>
            <input id="releaseDate" class="form-control" type="date" ng-model="todo.dueDate" required/>
            </div>
            </div>
            </div>


            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-disabled="todoForm.$invalid" ng-click="ok()">Add</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>